@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


.containerHome {
    background-color: #111111;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    border-radius: 15px;
    border: 3px solid #1b4332;
    background: #081c15;
    padding: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.3s;
}

.texto p {
    color: white;
    margin-top: 5%;
}

.container img {
    max-width: 100%;
    max-height: 350px;
    border: 1px solid white;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.separator {
    border: none;
    border-top: 5px solid #172c21;
    margin: 40px 0;
    width: 100%;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.3s;
}

.texto {
    flex: 1;
    margin: 20px;
    /* Reduce el margen en pantallas pequeñas */
}

.texto h2 {
    font-size: 48px;
    /* Tamaño de fuente más pequeño para pantallas pequeñas */
    color: rgb(66, 167, 66);
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.3s;
}

.texto h4 {
    color: rgb(209, 208, 208);
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.9s;
}

/* Media Queries para pantallas pequeñas (máximo 768px) */
@media (max-width: 768px) {
    .texto h2 {
        font-size: 32px;
        /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
    }

    .backToTopButton {
        right: 3%;
        /* Ajusta la posición del botón para pantallas pequeñas */
    }
}

/* Media Queries para pantallas medianas (máximo 1200px) */
@media (max-width: 1200px) {
    .container {
        margin-top: 30%;
        margin-bottom: 30%;
        padding: 2%;
        /* Reduce el padding en pantallas medianas */
    }


}

/* Media Queries para pantallas muy pequeñas (máximo 500px) */
@media (max-width: 500px) {
    .texto h2 {
        font-size: 24px;
        /* Tamaño de fuente más pequeño para pantallas muy pequeñas */
    }

    .texto {
        margin: 10px;
        /* Reduce el margen en pantallas muy pequeñas */
    }
}

/* Aquí puedes agregar más Media Queries según tus necesidades para otros tamaños de pantalla */

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.backToTopButton {
    position: fixed;
    bottom: 3%;
    right: 5%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.backToTopButton:hover {
    background-color: #0056b3;
}